* {
    background-color: black;
}

:root{
    --letter-color :#4BC58E;
    --google-font: 'Tilt Prism', cursive;
} 

.refresh {
    color: var(--letter-color); 
    font-family:var(--google-font);
    text-align: center;
    font-size: 5.5rem;
}

.players {
    color: var(--letter-color);
    font-family:var(--google-font);
    font-size: 2rem;
}

.container {
    text-align: center;
    display: inline-block;
    padding-left: 50px;
}

#P1 {
    padding-left: 420px;
}

.dice {
max-width:100%;
height:auto;
}

